<!DOCTYPE html>
<html>
    <head>
        <title>Turbofan Predictive Maintenance App</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Lab 4 - Data Science Academy</h1>
            <h2>This is a Machine Learning model to predict if a turbofan will fail in its next 30 cycles</h2>
            <h3>Enter below the values of the sensor readings:</h3>
            <form action="/predict" method="post">
                {% for item in pred_features['features'] %}
                    <label>{{ item }} - {{ pred_features['features'][item]['min'] }} to {{ pred_features['features'][item]['max'] }}</label>
                    <input type="text" name="{{ item }}" placeholder="Enter a value" required="required"/>
                    <br>
                {% endfor %}
                <br>
                <button type="submit">Predict</button>
            </form>

            {% if prediction_text %}
                <h3>{{ prediction_text }}</h3>
                <br>
                <h3> Sensor Readings: </h3>
                <hr>
                {% for k, v in sensor_text.items() %}
                    <h4>{{ k }}: {{ v }}</h4>
                {% endfor %}
            {% endif %}

            
        </div>
</html>